---
import { Piano } from "../../components/Piano";
import Layout from "../../layouts/Layout.astro";

const username = Astro.url.searchParams.get("username") || "anonymous";
const roomId = Astro.url.searchParams.get("roomId") || "default-piano-room";
---

<Layout title=`Welcome to Piano Room ${roomId}`>
  <main>
    <div class="grid place-content-center gap-4">
      <h1 class="text-center">{roomId} 🎹</h1>
      <Piano client:load username={username} roomId={roomId} />
    </div>
  </main>
</Layout>
