---
import Layout from "../layouts/Layout.astro";
import { Canvas } from "../components/Canvas";

const PUBLIC_SNAP_API_TOKEN =
  "eyJhbGciOiJIUzI1NiIsImtpZCI6IkNhbnZhc1MyU0hNQUNQcm9kIiwidHlwIjoiSldUIn0.eyJhdWQiOiJjYW52YXMtY2FudmFzYXBpIiwiaXNzIjoiY2FudmFzLXMyc3Rva2VuIiwibmJmIjoxNzAzNjExNDU5LCJzdWIiOiJlOTc1N2ViNS1lZDRmLTRiNTQtODAyYy00NjllZWRhZTU3MWR-U1RBR0lOR342MTkzZDE2ZC1hMDNhLTRkM2EtOTQ3Yy03YWIyMWU0OThmNjQifQ.q6HOKWqxvaU8hsxqn_VG6vscC5JWMK7do0iDYg9fagY";

const PUBLIC_DEFAULT_GROUP_KEY = "d32f8017-3c4e-436f-9382-d3b1104f43a4";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="grid place-content-center">
      <h1 class="text-center">
        Astro 🚀 🤝 Partykit 🎈 🤝 Snapchat Camera Kit 📷
      </h1>
      <Canvas
        client:load
        apiToken={PUBLIC_SNAP_API_TOKEN}
        defaultGroupKey={PUBLIC_DEFAULT_GROUP_KEY}
      />
    </div>
  </main>
</Layout>
