@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  position: relative;
}

body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
  @apply tracking-tighter;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

a:not([class]) {
  @apply text-blue-500;
  @apply underline;
}

a:not([class]):hover {
  @apply no-underline;
}

button[data-note]:focus-visible {
  @apply outline-none;
  @apply ring-4;
  @apply ring-blue-500;
  @apply ring-opacity-100;
}
